html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-image: url('./background.jpg');
    background-color: #0e0e0e;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fefefe;
    font-family: 'IBM Plex Mono';
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0px 0px 2rem 0px;
    font-size: 4rem;
    line-height: 4.5rem;
    text-transform: lowercase;
    word-wrap: normal;
}

h2 {
    margin: 0px 0px 0.75rem 0px;
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-transform: lowercase;
    word-wrap: normal;
}

a {
    color: #fefefe;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 4rem;
    font-size: 1.25rem;
}

header nav a {
    margin-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 4rem - 4rem);
    padding: 2rem;
}
main article {
    max-width: 100%;
}

.Actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.25rem;
    margin-top: 2rem;
}
.Actions p {
    padding: 0.5rem 2rem;
    font-size: 2rem;
}
.Button {
    padding: 0.5rem 1rem;
    background: #fefefe;
    color: #0e0e0e;
    font-size: 2rem;
}

@media (max-width: 425px) {
    header, footer {
        padding: 1rem;
    }

    main {
        padding: 1rem;
    }

    .Actions {
        display: block;
    }
    .Actions .Button {
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
    }
    .Actions p {
        display: none;
    }
}

.Animation-Blinking {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
